<section class="block container">
  <header class="block__header">
    <h2>Host on the clod to keep Growing</h2>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas,
      aperiam!
    </p>
  </header>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#cat-solid"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Super easy to use</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam tempora
        modi blanditiis voluptas odit eveniet? Est sed quam atque officia.
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <img class="feature__image" src="images/gay.png" alt="" />
    </picture>
  </article>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#cat-solid"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Super easy to use</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam tempora
        modi blanditiis voluptas odit eveniet? Est sed quam atque officia.
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <img class="feature__image" src="images/gay.png" alt="" />
    </picture>
  </article>

  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#cat-solid"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Super easy to use</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam tempora
        modi blanditiis voluptas odit eveniet? Est sed quam atque officia.
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <img class="feature__image" src="images/gay.png" alt="" />
    </picture>
  </article>

  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#cat-solid"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Super easy to use</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam tempora
        modi blanditiis voluptas odit eveniet? Est sed quam atque officia.
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <img class="feature__image" src="images/gay.png" alt="" />
    </picture>
  </article>
</section>
