<blockquote class="quote">
  <p class="quote__text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta quasi at
    rerum molestias totam omnis vel, itaque minima nulla recusandae.
  </p>
  <footer>
    <div class="media">
      <div class="media__image">
        <svg class="icon icon--primary quote__line">
          <use xlink:href="images/sprite.svg#music"></use>
        </svg>
      </div>

      <div class="media__body">
        <h3 class="media__title quote__author">July Wong</h3>
        <p class="quote__company">Wong's family</p>
      </div>
    </div>
  </footer>
</blockquote>
