<section class="block block--dark block--skewed-right block-showcase">
  <header class="block__header">
    <h2>Brief Intro of Gay</h2>
  </header>
  <div class="container grid grid--1x2">
    <img class="block-showcase__image" src="images/gay.png" alt="" />
    <ul class="list">
      <li>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#person-running-solid"></use>
            </svg>
          </div>

          <div class="media__body">
            <h3 class="media__title">I love playing humans</h3>
            <p>I love playing humans, especially my slave, Yan.</p>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#cat-solid"></use>
            </svg>
          </div>

          <div class="media__body">
            <h3 class="media__title">I love playing with cats</h3>
            <p>I love playing with other cats, like my sis Straight.</p>
            <p>But I dont quite like Ball.</p>
            <p>And I hate July cos she is kinda dumb.</p>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#bowl-food-solid"></use>
            </svg>
          </div>

          <div class="media__body">
            <h3 class="media__title">I love eating</h3>
            <p>I love food!! Come and feed me!!!</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
